.thor {
    background-color: black;
    color: aqua;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

.joao {
    color: aliceblue;
    text-align: center;
}

.lucas {
    color: darkgreen;
    text-align: left;
}

.indio {
    text-align: center;
    font-size: 40px;
}
.conteudo{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: burlywood;
}